<<<<<<< HEAD
*{
    box-sizing: border-box;
}
.body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 50px;
    width: 80%;
    margin: auto;
    grid-gap: 10px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    
}

button{
    color:#129cc6;
    background-color: #2f3639;
    border-radius: 5px;
}


#space{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-end: 5;
    grid-column-start: 9;
}


#shift{
    
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-end: 11;
    grid-column-start: 13;
}

#enter{
    
    grid-row-start: 3;
    grid-row-end: 4;                     
    grid-column-end: 11;
    grid-column-start: 13;
=======
*{
    box-sizing: border-box;
}
.body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 50px;
    width: 80%;
    margin: auto;
    grid-gap: 10px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    
}

button{
    color:#129cc6;
    background-color: #2f3639;
    border-radius: 5px;
}


#space{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-end: 5;
    grid-column-start: 9;
}


#shift{
    
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-end: 11;
    grid-column-start: 13;
}

#enter{
    
    grid-row-start: 3;
    grid-row-end: 4;                     
    grid-column-end: 11;
    grid-column-start: 13;
>>>>>>> ef00ffda89294c689b808fc87aecc01643ae34fa
}